<div class="profile-card nes-container is-centered is-dark">
  <form #editForm="ngForm" *ngIf="editing">
    <div class="nes-field">
      <label for="name_field">Profile Name</label>
      <input
        [(ngModel)]="profile.name"
        type="text"
        id="name_field"
        class="nes-input"
        name="profileName"
        required/>
    </div>
    <button
      [disabled]="!editForm.valid"
      class="nes-btn is-success"
      (click)="saveEdits()">
      Save
    </button>
  </form>
  <div *ngIf="!editing">
    <span class="nes-text">{{ profile.name }}</span><br/>
    <span class="nes-text is-primary">Level {{profile.level + 1}}</span><br/>
    <button class="nes-btn is-success" (click)="chooseProfile()">Choose</button><br/>
    <button class="nes-btn is-primary" (click)="beginEditing()">Edit</button>
    <button class="nes-btn is-error" (click)="deleteProfile()">Delete</button>
  </div>
</div>
