<div class="about-container">
  <button (click)="playMenuSound()" class="nes-btn" routerLink="/menu">Back</button>
  <div class="container about-text">
    <h3>Overview</h3>
    Tetra master is a two player card game from Final Fantasy IX.
    The game is played between two players: a red and a blue player.
    The goal of the game is to turn all of your opponent's cards to your color; this is achieved by placing a card with
    a
    better total power than the opponent's card towards the opponent's card.
  </div>
  https://soundcloud.com/cleytonkauffman
  http://www.matthewpablo.com/services
</div>
